div{
    background-color: rgb(200, 200, 200);
}
.row{
    padding: 5px;
}

img{
    width: 100%;
}
.cont{
    background-color:gray;
    text-align: left;
}
.container{
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

@media(max-width:575px){
    .container{
        flex-direction: column;
    }
    img{
        width: 100%;
    }
}