<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudioo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dicta odio, eligendi aliquam aliquid corrupti qui tempora deserunt repellendus sunt quae adipisci? Illum libero hic eum ratione iure est enim?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dicta odio, eligendi aliquam aliquid corrupti qui tempora deserunt repellendus sunt quae adipisci? Illum libero hic eum ratione iure est enim?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dicta odio, eligendi aliquam aliquid corrupti qui tempora deserunt repellendus sunt quae adipisci? Illum libero hic eum ratione iure est enim?
            </p>
        </ul>
    </div>
</div>