<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/YO.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">Jorge Orquera</h1>
        <p>Full Stack Developer Jr.</p>        
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Ademas de programador trabajo com Analista para una multinacional y estoy en vias de terminar mi carrera para convertirme en Ingeniero en Electrónica.</h3>
        </span>
    </div>
</div>>
