<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/YO.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <h1 id="nombre">Jorge Orquera</h1>
        <p>Full Stack Developer Jr.</p>        
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
        <span>
            <h4>Ademas de ser Programador Web me desempeño como Planning Analyst para la multinacional PUMA; además de ello estoy en vias de culminar mi carrera para convertirme en Ingeniero en Electrónica.</h4>
        </span>
    </div>
</div>
