<div class="row">
    <h1>Hard & Soft skills</h1>
    <!--HTML-->
    <div class="text-center col-sm-3 col-md-3 col-lg4">
        <circle-progress
            [title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../assets/HTMLlogo.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [percent]="75"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#a41412'"
            [innerStrokeColor]="'#330101'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--CSS-->
    <div class="text-center col-sm-3 col-md-3 col-lg4">
        <circle-progress
            [title]="'CSS'"
            [showUnits]="false"
            [imageSrc]="'../assets/CSSlogo.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [percent]="70"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#a41412'"
            [innerStrokeColor]="'#330101'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--JAVASCRIPT-->
    <div class="text-center col-sm-3 col-md-3 col-lg4">
        <circle-progress
            [title]="'JS'"
            [showUnits]="false"
            [imageSrc]="'../assets/JSlogo.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [percent]="75"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#a41412'"
            [innerStrokeColor]="'#330101'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--ADAPTABILIDAD-->
    <div class="text-center col-sm-3 col-md-3 col-lg4">
        <circle-progress
            [title]="'ADAPTABILIDAD'"
            [showUnits]="false"
            [imageSrc]="'../assets/ADAPTABILIDADlogo.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showImage]="true"
            [percent]="90"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#a41412'"
            [innerStrokeColor]="'#330101'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--COMUNICACION-->
    <div class="text-center col-sm-3 col-md-3 col-lg4">
        <circle-progress
            [title]="'COMUNICACION'"
            [showUnits]="false"
            [imageSrc]="'../assets/COMUNICACIONlogo.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showImage]="true"
            [percent]="100"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#a41412'"
            [innerStrokeColor]="'#330101'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--CREATIVIDAD-->
    <div class="text-center col-sm-3 col-md-3 col-lg4">
        <circle-progress
            [title]="'CREATIVIDAD'"
            [showUnits]="false"
            [imageSrc]="'../assets/CREATIVIDADlogo.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showImage]="true"
            [percent]="90"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#a41412'"
            [innerStrokeColor]="'#330101'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--INGLES-->
    <div class="text-center col-sm-3 col-md-3 col-lg4">
        <circle-progress
            [title]="'INGLES'"
            [showUnits]="false"
            [imageSrc]="'../assets/INGLESlogo.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showImage]="true"
            [percent]="95"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#a41412'"
            [innerStrokeColor]="'#330101'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
    </div>
</div>