<div class="row">
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="derecha">
            <div class="redes">
                <a href="https://linkedin.com/in/jorge-orquera"><img src="../../../assets/linkedin.png" alt=""></a>
                <a href="https://twitter.com/jorgeorquera"><img src="../../../assets/twitter.png" alt=""></a>
                <a href="https://www.instagram.com/jorgeorquera.ok/"><img src="../../../assets/instagram.png" alt=""></a>
                <a href="https://github.com/JOCO47"><img src="../../../assets/github.png" alt=""></a>
                <a href="https://www.facebook.com/JOCO47"><img src="../../../assets/facebook.png" alt=""></a>
                <a href="https://www.youtube.com/JOCO47"><img src="../../../assets/youtube.png.png" alt=""></a>
                <a href="https://www.twitch.tv/JOCO47"><img src="../../../assets/twitch.png" alt=""></a>
            </div>
            <button type="button" class="btn btn-outline-danger" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-danger" (click)="onlogout()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
        
    </div>
</div>